<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/css/calendar.css" />
	<title>Reservar</title>
</head>

<body>
	<div id="imgFondo">
		<header>
			<img src="/img/logo.png" class="imgHeader" />
			<div>Créditos disponibles</div>
			<div class="creditos">
				<p th:text="${session.credits[0]}"></p>
			</div>
			<div>Créditos usados</div>
			<div class="creditos">
				<p th:text="${session.credits[1]}"></p>
			</div>
			<div>
				<p th:text="${session.uSession.email}" class="username"></p>
			</div>
		</header>

		<div class="container">
			<aside class="izquierdo">
				<div class="calendario">
					<div class="gridContainer">
						
						<div th:each="day : ${month}">

							<div th:switch="${day[2]}">

								<div th:case="null">

									<form action="*" method="POST" class="form1">

										<button type="submit" class="formButton">
											<p th:text="${day[0]}"></p>
											<p th:text="${day[1]}"></p>
										</button>

									</form>

								</div>
								<div th:case="'FULL'">

									<form action="*" method="POST" class="form2">

										<button type="submit" class="formButton">
											<p th:text="${day[0]}"></p>
											<p th:text="${day[1]}"></p>
										</button>

									</form>

								</div>
								<div th:case="*">

									<form action="/user/reservation" method="POST" class="form3">
										<input type="hidden" th:value="${day[2]}" name="dayId">

										<button type="submit" class="formButton">
											<p th:text="${day[0]}"></p>
											<p th:text="${day[1]}"></p>
										</button>

									</form>

								</div>

							</div>

						</div>

					</div>
				</div>
				<div class="referencias">
					<div>
						<div class="pasados"></div>
						Días pasados
					</div>
					<div>
						<div class="disponibles"></div>
						Días disponibles
					</div>
					<div>
						<div class="ocupados"></div>
						Días ocupados
					</div>
				</div>
			</aside>

			<aside class="derecho">
				<div style="padding-top: 15vh">
					<img src="/img/icon2.svg" alt="" />
					<a th:href="@{/user/home}">Home</a>
				</div>
				<div>
					<img src="/img/icon3.svg" alt="" />
					<a th:href="@{/user/credits}">Créditos</a>
				</div>
				<div>
					<img src="/img/icon1.svg" alt="" />
					<a th:href="@{/user/calendar}">Calendario</a>
				</div>
				<div>
					<img src="/img/icon6.svg" alt="" />
					<a th:href="@{/user/myReservations}">Mis Reservas</a>
				</div>
				<div style="padding-top: 20%">
					<img src="/img/icon5.svg" alt="" />
					<a th:href="@{/user/modification}">Ajustes</a>
				</div>
				<div>
					<img src="/img/icon4.svg" alt="" />
					<a href="/logout">Salir</a>
				</div>
			</aside>
		</div>
	</div>
</body>

</html>